BITBUCKET_URL=https://stash.example.com
BITBUCKET_TOKEN=your-access-token
# BITBUCKET_USERNAME=your-username
# BITBUCKET_PASSWORD=your-password
# BITBUCKET_DEFAULT_PROJECT=PROJ
# BITBUCKET_DIFF_MAX_LINES_PER_FILE=400
# BITBUCKET_READ_ONLY=true
